@import 'tailwindcss';
/* @config "../tailwind.config.js"; */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-2xs: 20rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 96rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 140rem;
}
