@import 'tailwindcss';
/* @config "../tailwind.config.js"; */

:root {
  --project-section-height: 28rem;
  --project-card-height: 26rem;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-*: initial;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.5s ease-in-out;
}
